.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.page__heading {
  display: flex;
  justify-content: space-between;
}
.page__sub__heading {
  margin-bottom: 3rem;
}
.quantity {
  font-size: 2rem;
  align-items: center;
  background: var(--color-primary);
}
.quantity__minus,
.quantity__plus {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 1rem;
  font-size: 2rem;
}
a:hover {
  background-color: var(--color-primary-variant);
  cursor: pointer;
  transition: var(--transition);
}

.quantity__input {
  text-align: center;
  padding: 1rem 0rem;
  font-size: 2.1rem;
  width: 10rem;
}
